body {
    background-color: #ddd;
}

.header {
    height: 40px;
}

.content {
    min-height: 500px;
}

.sidebar {
    height: 500px;
    overflow: scroll;
}

.main-content {
    background-color: #FFF;
    min-height: 500px;
    border: 1px solid #eee;
}

.footer {
    height: 40px;
}